.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navBar li {
    float: left;
}

.buttonNav {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
}

.buttonNav:focus,
.buttonNav:hover {
    background-color: #2d2a2a;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

.quoteFrame {
    font-size: 1em;
    text-align: center;
    border-style: double;
    margin: 3em;
    padding: 1.5em 1em;

}

.catToolBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #933333;
}

.catToolBar li {
    float: left;
    flex: 1;
}

.catToolBar li button {
    display: block;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background-color: #333333;
}

.userImage {
    filter: invert(100%);
    float: right;
    cursor: pointer;
    height:100%;
}

.userImage:focus,
.userImage:hover {
    filter: invert(0%);
}

.upArrow {
    transform: rotate(180deg);
    cursor: pointer;
    float: right;
}

.downArrow {
    cursor: pointer;
}

.dottedLine {
    border-top: 3px dotted #933333;
}
.pageHeader {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.heart{
    cursor: pointer;
}
.heart:hover,
.heart:focus{
    filter: invert(80%);

}
.reload{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttonsRight{
    right: 0.6em;
    position: absolute;
}


