.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navBar li {
    float: left;
}

.buttonNav {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
}

.buttonNav:focus,
.buttonNav:hover {
    background-color: #2d2a2a;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.quoteFrame {
    font-size: 2.3em;
    text-align: center;
    border-style: double;
    margin-right: 3em;
    margin-left: 3em;
    padding: 1.5em 1em;
}

.catToolBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #933333;
}

.catToolBar li {
    float: left;
    flex: 1;
}

.catToolBar li button {
    display: block;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
}

.button:focus,
.button:hover {
    background-color: #333333;
}

.userImage {
    filter: invert(100%);
    float: right;
    cursor: pointer;
}

.userImage:focus,
.userImage:hover {
    filter: invert(0%);
}

.upArrow {
    transform: rotate(180deg);
    cursor: pointer;
    float: right;
}

.downArrow {
    cursor: pointer;
    float: right;
}

.dottedLine {
    border-top: 3px dotted #933333;
}

